.admin-form {
    max-width: 1230px;
    margin: 0 auto;
}

.form__header-title {
    text-align: center;
    margin: 50px 0;
    font-size: 35px;
    color: #8B7969;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.search-list {
    max-width: 1230px;
}

.search-form {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.search-form__keyword {
    width: 30%;

}

.search-keyword {
    width: 100%;
    height: 50px;
    padding: 20px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: #F4F4F4;
    color: #8B7969;
}

.search-select__gender {
    width: 10%;
}

.select__gender {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: #F4F4F4;
    color: #8B7969;
}

.search-select__category {
    width: 15%;
}

.select__category {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: #F4F4F4;
    color: #8B7969;
}

.search-data {
    width: 10%;
    height: 50px;
}

.search-date-picker {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: #F4F4F4;
    color: #8B7969;
}

.search__button {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.search__button-submit {
    width: 45%;
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    background-color: #8B7969;
    color: white;
}

.search__button-reset {
    width: 45%;
    height: 50px;
    padding: 0 10px;
    border: none;
    border-radius: 3px;
    background-color: #D9C6B5;
    color: white;
}

.data-table {
    max-width: 1230px;
    margin: 30px 0;
}

.data-table__inner {
    width: 100%;
    margin: auto;
}

tr:first-child {
    background-color: #8B7969;
}

.data-table__row {
    /* display: flex;
    justify-content: space-between; */
    height: 60px;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
}



.data-table__header-name{
    width: 15%;
    color: white;
    margin: auto;
}
.data-table__header-gender {
    width: 5%;
    color: white;
    margin: auto;
}
.data-table__header-email {
    width: 25%;
    color: white;
    margin: auto;
}
.data-table__header-category {
    width: 15%;
    color: white;
    margin: auto;
}
.data-table__header-button {
    width: 10%;
    color: white;
    margin: auto;
}

.data-table__name{
    width: 20%;
}

.data-table__name{
    width: 15%;
    text-align: center;
    color: #8B7969;
}

.data-table__gender{
    width: 5%;
    text-align: center;
    color: #8B7969;
}

.data-table__email{
    width: 25%;
    text-align: center;
    color: #8B7969;
}

.data-table__category_id{
    width: 15%;
    text-align: center;
    color: #8B7969;
}

.table__button {
    width: 10%;
    text-align: center;
    color: #8B7969;
}


.data-table__button {
    width: 40%;
    height: 30px;
    border-color: #D9C6B5;
    color: #D9C6B5;
    background-color: transparent;
    cursor: pointer;
}


.Pagination {
    max-width: 1230px;
    display: flex;
    margin-top: 20px;
    justify-content: right;
    align-items: center;
}

.pagination-list {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-item {
    margin: 10px 0;
    margin-left: 0px;
}

.pagination-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: solid 1px gainsboro;
    font-size: 14px;
    background: white;
    color: #8B7969;
    font-weight: bold;
    transition: all 0.15s linear;
    text-decoration: none;
}

.pagination-link.isActive {
    background: #8B7969;
    color: white;
    pointer-events: none;
}

.pagination-link:not(.isActive):hover {
    background: #8B7969;
    color: white;
}

.pagination-item.disabled .pagination-link {
    background: white;
    color: #8B7969;
}

.pagination-item.active .pagination-link {
    background: white;
        color: #8B7969;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
} */

.modal-content {
    position: relative;
    padding: 80px 60px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 500px;
    margin: 200px auto;
    border: 2px solid #8B7969;
    color: #8B7969;
}

.delete-button{
    text-align: center;
    margin-top: 30px;
}

.delete-button-submit{
    padding: 5px 20px;
    margin: 30px 0;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;

}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.export-button{
    padding: 10px 15px;
    border: none;
    background-color: #D9C6B5;
    color: #8B7969;
}